#control-pane {
    -fx-background-color: #d1fffd;
}

.button.lock-button-img {
    -fx-background-image: url("/image/lock.png");
}

.button.unlock-button-img {
    -fx-background-image: url("/image/unlock.png");
}

.button.home-button-img {
    -fx-background-image: url("/image/home.png");
}