.root {
    -fx-background-color: #b1b1b1;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.text-field,
.password-field {
    -fx-background-color: #F8F8F8;
    -fx-border-color: #ECECEC;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

